html {
    background-color: #FAF1EB;
    text-align: center;
    color: #5D76CB;
    font-size: 16px;
}

h1 {
    font: bold 2rem;
}

nav {
    font-style: italic;
    border: 3px solid #A9A9A9;
    border-radius: 40%;
}

a {
    color: #A9A9A9;
    text-decoration: none;
}

h2 {
    font: bold 1, 5rem;
    text-transform: uppercase;
}

p,
ol,
li {
    color: #A9A9A9;
    text-align: left;
}

span {
    text-decoration: underline;
}